<h2>Hello world ! This is index test picture.</h2>
<h2>
  
  <ul>
    {{#each todos}}
    <li>
      <!-- index 頁面 checkbox 只能檢視、不能編輯disabled-->
      <input type="checkbox" name="isDone" {{#if this.isDone}} checked {{/if}} disabled>
      {{this.name}}
      <!--瀏覽特定 To-do-->
      <a href="./todos/{{this._id}}">detail</a>
      <!--修改特定 To-do-->
      <a href="./todos/{{this._id}}/edit">edit</a>
      <!--刪除特定 To-do-->
      <!-- 套用 method-override 設計的路由覆蓋機制，修改 <form> 發送請求的路徑-->
      <form action="./todos/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit">delete</button>
      </form>
    </li>
    {{/each}}
  </ul>
</h2>