<h2>Hello world ! This is index test picture.</h2>

<a href="./todos/new">Create</a>
<ul>
  {{#each todos}}
  <li>
    {{this.name}}
    <!--瀏覽特定 To-do-->
    <a href="./todos/{{this._id}}">detail</a>
    <!--修改特定 To-do-->
    <a href="./todos/{{this._id}}/edit">edit</a>
    <!--刪除特定 To-do-->
    <form action="./todos/{{this._id}}/delete" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>